@import url('https://fonts.googleapis.com/css2?family=Underdog&display=swap');

body{
  background-color: gray;
}

.titulo{
    
    margin-left: 850px;
    width: 500px;
    color: rgb(0, 0, 0);
    font-family: Underdog, Arial, Helvetica, sans-serif;
    font-size: larger;
}




.sinopse{
    margin-left: 700px;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 500px;
    font-family: Underdog;
    font-size: larger;
}


.resumo{
    margin-left: 700px;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 500px;
    font-family: Underdog;
    font-size: larger;
}


.atores{
    margin-left: 700px;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 500px;
    font-family: Underdog;
    font-size: larger;
}


.criadores{
    margin-left: 700px;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 500px;
    font-family: Underdog;
    font-size: larger;
}

.Aaa{
    display: block;
    width: 50%;
    margin: 0 auto;
    
}

footer{
    padding: 300px;
    border-radius: 20px;
    background-image: url(/img/b.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.vitor{
    width: 40%;
    height: auto;
    border-radius: 50%;
}

.Elsa{
    width: 40%;
    height: auto;
   border-radius: 50%;
}

.elenco{
    display: flex;
    justify-content: space-between;
    font-size: larger;
}
