@import url('https://fonts.googleapis.com/css2?family=Underdog&display=swap');

body{
  background-image: url(/img/cemitério-41356224.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.titulo{
    
    margin-left: 800px;
    width: 500px;
    color: rgb(96, 160, 78);
    font-family: Underdog, Arial, Helvetica, sans-serif;
    font-size: larger;
}




.sinopse{
    margin-left: 700px;
    color: rgb(96, 160, 78);
    text-align: center;
    width: 500px;
    font-family: Underdog;
    font-size: larger;
}


.resumo{
    margin-left: 700px;
    color: rgb(96, 160, 78);
    text-align: center;
    width: 500px;
    font-family: Underdog;
    font-size: larger;
}


.atores{
    margin-left: 700px;
    color: rgb(96, 160, 78);
    text-align: center;
    width: 500px;
    font-family: Underdog;
    font-size: larger;
}


.criadores{
    margin-left: 700px;
    color: rgb(96, 160, 78);
    text-align: center;
    width: 500px;
    font-family: Underdog;
    font-size: larger;
}

.Aaa{
    display: block;
    width: 50%;
    margin: 0 auto;
    
}

.video1{
    margin-left: 620px;
}


